.order {
  background-color: $color-bg;

  &-box-container {
    padding: 0 3rem;

    .order-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 550px;
      margin: 1.5rem auto;
      padding: 1rem;
      border: .5px solid rgba($color-text, .2);
      border-radius: 5px;

      &-item {
        @include flex-center(row);
        width: 75%;

        img {
          width: 10rem;
          height: 10rem;
          margin-right: 1rem;
          border-radius: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .order {
    &-box-container {
      .order-box {
        width: 100%;

        img {
          width: 8rem;
          height: 8rem;
        }
      }
    }
  }
}
