.testimonial {
  @include flex-center(row);
  height: 42.5rem;
  background: url(../../images/bg-3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  &-content {
    @include flex-center(column);
    width: 55%;
    margin: 0 auto;
    padding: 3.5rem 1.5rem;
    border: 1px solid rgba($color-white, .6);
    border-radius: 5px;
    background-color: rgba($color-white, .55);

    img {
      width: 8rem;
      border-radius: 50%;
    }
  }
}
