*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  cursor: default;
}

section {
  width: 100%;
  padding: 5rem 0;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3rem;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
}

section img {
  width: 100%;
}
