.u-mb-small {
  margin-bottom: 1.2rem;
}

.u-mb-medium {
  margin-bottom: 2.5rem;
}

.u-mb-large {
  margin-bottom: 4rem;
}

.u-p-small {
  padding: 1rem;
}

.u-p-medium {
  padding: 2rem;
}

.u-p-large {
  padding: 3rem;
}
